html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック','sans-serif';
  background-color: #d6d6d6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin:0 auto;
  padding:0 30px;
  width:100%
}

.clear{
  clear: left;
}

header {
  height:80px;
  background-color:#333333;
}

.header_logo {
  float:left;
  width:300px;
  margin-top: 15px;
}

.small_logo{
  display: none;
  width:170px;
}

.btn{
  display: inline-block;
  color:#fff;
  padding:8px 15px;
  transition-duration: 0.5s;
  border-radius: 4px;
}

.Twitter{
  margin: 0 10px 0 30px;
  background: #1da1f2;
}

.Github{
  margin-right: 10px;
  background:#4b4444 ;
}

.btn-wrapper{
  float:right;
  margin-top:23px;
}

h2{
  font-size: 24px;
  border-bottom: 3px solid #4a8f4a;
  border-left: 5px solid #4a8f4a;
  margin:30px 0 10px 0;
  padding-left: 20px;
}

h3{
  font-size: 18px;
}

p{
  margin:5px 30px;
}

footer{
  height:80px;
  background-color:  #123b12;
}

.footer_logo{
  width:250px;
  float:left;
  margin:20px 0 0 0;
}

footer p{
  margin:15px 0;
  font-size:17px;
  color:#696969;
  float:right;
}


.info{
  margin-top:20px;
}

.menus{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.menu{
  flex: auto;
  text-align: center;
  width: 33%;
}

.card{
  width:200px;
  height:290px;
  border-radius: 8px;
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow: 20px 20px 30px #b6b6b6,-20px -20px 30px #f6f6f6;
  text-align: center;
  display: inline-block;
  flex: auto;
  margin:20px 30px;
  padding: 10px 20px 20px 20px;
  color:black;
  transition-duration: 0.5s;
}

.card:hover{
  background: linear-gradient(225deg, #e5e5e5, #c1c1c1);
  box-shadow: -20px 20px 30px #b6b6b6,20px -20px 30px #f6f6f6;
}

.card h2{
  font-size: 20px;
}

.card p{
  padding:10px 0;
  margin: 0;
  font-size:20px;
  text-align: left;
}

.card img{
  margin:0 auto;
}

.learn{
  margin-bottom: 50px;
}

.simple{
  position: relative;
}

.new{
  display: inline-block;
  position: absolute;
  top:8px;
  left:0;
  background-color: red;
  color: #ffF;
  padding:0 20px;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
